.teste{
    color: goldenrod;
    
}

p {
    font: italic small-caps bold 14px "comic Sans MS", sans-serif;
}

.video{
    border-radius: 20px;
    display: inline-block;
}

.font
{
    font-size: 20px;
    color: crimson
}

.fundo
{
    background-color: #ffefef
    ;
}

.imdbtxt{
    display: inline-block;
    border: 10px double #f7c566 ;
    vertical-align: middle;
}