
p {
    font: italic small-caps bold 14px "comic Sans MS", sans-serif;
}

.texto{
    text-align: center;
    color: whitesmoke;
    box-shadow: goldenrod;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.imagem{
    width: 300px;
    height: 500px;
    border: 15px inset goldenrod;
}

.fundofora{
    background-color: rgb(49, 54, 63);
}

.odal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.logo{
    color: goldenrod;
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.video{
    border-radius: 20px;
    display: inline-block;
}

.font
{
    font-size: 20px;
    color: goldenrod
}

.fundodentro
{
    background-color: #ffefef
    ;
}

.imdbtxt{
    display: inline-block;
    border: 10px double #f7c566 ;
    vertical-align: middle;
}

